@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #444654;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.thead-dark{
    background-color: #202529;
}

.thead-dark tr th{
    padding: 10px;
}

tbody td{
    padding: 10px;
    border: 2px solid white;
}

button{
    padding: 10px 50px;
    margin-top: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: #202529;
    font-weight: bold;
    transition: 2ms ease;
}

input{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 16px;
    max-width: 6vw;
    border: none;
}

@media (max-width: 767px) {
    .table {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  